# core
setuptools
wheel
# code analysis
mypy
types-requests
types-PyYAML
pandas-stubs
# code formatting
isort
black
flake8
flake8-docstrings
flake8-rst-docstrings
pyproject-flake8
# tests
pytest
pytest-cov