# data science core
pandas
numpy
scipy
# machine learning
scikit-learn
optuna
# visualization
matplotlib
plotnine
# parallel processing, benckmarks, progress tracking
multiprocess
tqdm
# tests
pytest
# tools
joblib
importlib
pyyaml
requests
