# models
pandera
pydantic
# data science core
pandas
numpy
scipy
# machine learning
scikit-learn
optuna
# visualization
matplotlib
plotnine
# https clients
urllib3
requests
httpx
backoff
# DBs
pyodbc
sqlalchemy
# azure
azure-identity
azure-keyvault-keys
# parallel processing, benckmarks, progress tracking
multiprocess
tqdm
# tools
joblib
importlib
pyyaml
# tests
pytest