# models
pandera
pydantic
# data science core
pandas
numpy
scipy
# machine learning
scikit-learn
optuna
# visualization
matplotlib
plotnine
# https clients
urllib3
requests
httpx
backoff
# DBs
pyodbc
sqlalchemy
# azure
#> See install_azure.sh script
# parallel processing, benckmarks, progress tracking
mpire
tqdm
# tools
joblib
pyyaml